@{
    ViewData["Title"] = "Home";
}

<div class="text-center" id="welcomeContent">
    <h1 class="display-4">Welcome to AnvilBank</h1>
    <a class="btn btn-primary btn-lg m-3 animate bounceInUp slow delay-1s" asp-page="/Account/Register">Register</a>
    <a class="btn btn-outline-primary btn-lg m-3 animate bounceInRight slow delay-1s" asp-page="/Account/Login">Login</a>
</div>

@section Scripts
{

}