/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  z-index: 1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: -60px;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
#particles-js {
    background: lightblue;
    width: 100%;
    height: 92%;
    margin-top: -16px;
    position: absolute;
}
#mainContent {
    padding-top: 16px;
}
.footer {
    box-shadow: 0 -0.25rem 0.75rem rgba(0, 0, 0, .05);
    text-align: center;
}
#welcomeContent {
    margin-top: 250px;
    pointer-events: all
}
.myForm {
    margin: auto;
    margin-top: 50px;
}

.cursor-pointer {
    cursor: pointer;
}
.hover-visible {
    opacity: 0;
    transition: all 150ms;
}

.hover-parent:hover .hover-visible {
    opacity: 1;
}

.text-primary-hover:hover {
    color: #0069d9 !important;
}

html {
    background: lightblue;
}

table {
    background: white;
}