@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="text-center col-md-5" style="margin: auto"">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <p>Click this button to log out</p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Logout</button>
        </div>
    </form>
</div>